.button{
    -fx-background-color: transparent;
    -fx-border-radius: 0;
}
.button:hover{
    -fx-border-width: 0 0 0 4;
    -fx-border-color: #a6a6a6;
}
.button:focused{
    -fx-border-width: 0 0 0 4;
    -fx-border-color: #217346;
}