.column-header{
    -fx-background-color: #d6ffe8;
    -fx-border-color: #a6a6a6;
    -fx-border-width: 0 0.3 0.3 0;
}
.table-view .scroll-bar * {
    -fx-min-width: 0;
    -fx-pref-width: 0;
    -fx-max-width: 0;

    -fx-min-height: 0;
    -fx-pref-height: 0;
    -fx-max-height: 0;
}